/*
	@name calendar_enter_v2
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; /*overflow-x:hidden;*/ }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative; width: 1280px; height: 800px; margin-left: auto; margin-right: auto;  }

#_bg__calendar_enter_v2 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 800px;
	background:rgba(255,255,255,255);
}


#bg_sport {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 800px;
}


#rectangle_452 {
	opacity:0.30000001192093;
	top: 0px;
	left: 0px;
	width: 1278px;
	height: 70px;
	border: 1px solid #f36e29;
	background:rgba(243,110,41,255);
}


#___________ {
	top: 20px;
	left: 609px;
	width: 133px;
	height: 47px;
	font-family: SUT;
	font-size: 40px;
	text-align: center;
	color:#ffffff;
}


#___________________ {
	top: 20px;
	left: 775px;
	width: 263px;
	height: 47px;
	font-family: SUT;
	font-size: 40px;
	text-align: center;
	color:#ffffff;
}


#ellipse_13 {
	top: 13px;
	left: 14px;
	width: 55px;
	height: 55px;
	-ms-border-radius: 50px / 50px;
	-o-border-radius: 50px / 50px;
	-moz-border-radius: 50px / 50px;
	-webkit-border-radius: 50px / 50px;
	border-radius: 50px / 50px;
	border: 1px solid #ffffff;
	background:rgba(255,255,255,255);
}


#sut {
	top: 20px;
	left: 25px;
	width: 35px;
	height: 44px;
}

#repeat_grid_11 {
	top: 174px;
	left: 488px;
	width: 751px;
	height: 535px;
	overflow:hidden;
}

#image_1 {
	top: -66px;
	left: -202px;
	width: 2720px;
	height: 894px;
}


#____________________________ {
	top: 92px;
	left: 409px;
	width: 451px;
	height: 59px;
	font-family: SUT;
	font-size: 50px;
	text-align: center;
	color:#ffffff;
}


#base {
	top: 742px;
	left: 536px;
	width: 210px;
	height: 40px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background:rgba(243,110,41,255);
}


#_______ {
	top: 747px;
	left: 614px;
	width: 49px;
	height: 29px;
	font-family: SUT;
	font-size: 25px;
	text-align: center;
	color:#ffffff;
}


#correct {
	top: 200px;
	left: 550px;
	width: 56px;
	height: 56px;
}


#____________ek1 {
	top: 20px;
	left: 1075px;
	width: 167px;
	height: 47px;
	font-family: SUT;
	font-size: 40px;
	text-align: center;
	color:#ffffff;
}


#rectangle_453 {
	opacity:0.80000001192093;
	top: 264px;
	left: 12px;
	width: 461px;
	height: 354px;
	border: 1px solid #ffffff;
	background:rgba(255,255,255,255);
}


#__________________ {
	top: 294px;
	left: 95px;
	width: 283px;
	height: 90px;
	font-family: SUT;
	font-size: 60px;
	text-align: center;
	color:#f36e29;
}


#base_ek1 {
	top: 544px;
	left: 134px;
	width: 210px;
	height: 40px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background:rgba(243,110,41,255);
}


#________ek1 {
	top: 552px;
	left: 212px;
	width: 49px;
	height: 29px;
	font-family: SUT;
	font-size: 25px;
	text-align: center;
	color:#ffffff;
}


#base_ek2 {
	top: 371px;
	left: 55px;
	width: 369px;
	height: 48px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background:rgba(243,110,41,255);
}


#base_ek3 {
	top: 452px;
	left: 55px;
	width: 369px;
	height: 48px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background:rgba(243,110,41,255);
}



/* Add your custom CSS here */
