/*
	@name educatedetails
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; /*overflow-x:hidden;*/ }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative; width: 1280px; height: 800px; margin-left: auto; margin-right: auto;  }

#_bg__educatedetails {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 800px;
	background:rgba(255,255,255,255);
}


#bg_sport {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 800px;
}


#rectangle_452 {
	opacity:0.30000001192093;
	top: 0px;
	left: 0px;
	width: 1278px;
	height: 70px;
	border: 1px solid #f36e29;
	background:rgba(243,110,41,255);
}


#___________ {
	top: 20px;
	left: 608px;
	width: 133px;
	height: 47px;
	font-family: SUT;
	font-size: 40px;
	text-align: center;
	color:#ffffff;
}


#ellipse_13 {
	top: 13px;
	left: 14px;
	width: 44px;
	height: 44px;
	-ms-border-radius: 23px / 23px;
	-o-border-radius: 23px / 23px;
	-moz-border-radius: 23px / 23px;
	-webkit-border-radius: 23px / 23px;
	border-radius: 23px / 23px;
	border: 1px solid #ffffff;
	background:rgba(255,255,255,255);
}


#sut {
	top: 20px;
	left: 25px;
	width: 25px;
	height: 33px;
}


#rectangle_453 {
	opacity:0.60000002384186;
	top: 145px;
	left: 385px;
	width: 508px;
	height: 508px;
	border: 1px solid #ffffff;
	background:rgba(255,255,255,255);
}


#base {
	top: 565px;
	left: 536px;
	width: 210px;
	height: 40px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background:rgba(243,110,41,255);
}


#_______ {
	top: 570px;
	left: 614px;
	width: 49px;
	height: 29px;
	font-family: SUT;
	font-size: 25px;
	text-align: center;
	color:#ffffff;
}


#_______________ {
	top: 287px;
	left: 564px;
	width: 147px;
	height: 55px;
	font-family: SUT;
	font-size: 30px;
	text-align: center;
	color:#f36e29;
}


#___________________ {
	top: 209px;
	left: 440px;
	width: 385px;
	height: 90px;
	font-family: SUT;
	font-size: 50px;
	text-align: center;
	color:#f36e29;
}


#________________________ {
	top: 391px;
	left: 499px;
	width: 277px;
	height: 35px;
	font-family: SUT;
	font-size: 30px;
	text-align: center;
	color:#f36e29;
}


#______13_30__14_00 {
	top: 496px;
	left: 546px;
	width: 183px;
	height: 35px;
	font-family: SUT;
	font-size: 30px;
	text-align: center;
	color:#000000;
}


#_2________2563 {
	top: 437px;
	left: 558px;
	width: 159px;
	height: 35px;
	font-family: SUT;
	font-size: 30px;
	text-align: center;
	color:#000000;
}


#_112 {
	top: 345px;
	left: 619px;
	width: 37px;
	height: 35px;
	font-family: SUT;
	font-size: 30px;
	text-align: center;
	color:#000000;
}


#____________________ek1 {
	top: 20px;
	left: 774px;
	width: 263px;
	height: 47px;
	font-family: SUT;
	font-size: 40px;
	text-align: center;
	color:#ffffff;
}


#____________ek1 {
	top: 20px;
	left: 1075px;
	width: 167px;
	height: 47px;
	font-family: SUT;
	font-size: 40px;
	text-align: center;
	color:#ffffff;
}


#login___11 {
	top: 13px;
	left: 0px;
	width: 1280px;
	height: 800px;
}



/* Add your custom CSS here */
